/*
.cor_primária: rgb(white)
.cor_secundária: #008F8C
.cor_destaque: #023535
*/

/** Aspectos Gerais */
html {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: #008F8C;
}

body {
    margin: 0px;
}

h1, h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
    text-align: center;
    color: #023535;
}

h1 {
    font-size: 1.8rem;
}
h2 {
    font-size: 1.4rem;
}
h3 {
    font-size:1.2rem;
}

p {
    text-indent: 1em; 
}

strong {
    font-weight: 600;
    color: #023535;
}


/** Aspectos do Cabeçalho da Página */
header {
    background-color: #008F8C;
    color: white;
}
header h3 {
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
color: rgba(255, 255, 255, 0.7);
}

/* Organização da Barra de Navegação */
#menu {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 0.7rem;
}

#menu li {
    display: inline-block;
    list-style-type: none;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

nav h3 {
margin-top: 0;
margin-bottom: 18px;
padding-top: 18px;
}

/** Aspectos do Conteúdo */
.conteudo {
    width: 80%;
    max-width: 1280px;
    margin: auto;
    position: relative;
    margin-bottom: 5em;
}

.main {
    border-bottom: solid 1px #008F8C;
}

#certifications div {
    margin-bottom: 2.5rem;
}

#experience div:first-of-type {
    margin-bottom: 2.5rem;
}

/* Aspectos da seção de introdução */
#photo {
    display: flex;
    justify-content: center;
}

#addres h3 {
    color: #023535;
}

#contact_forms h3 {
    color: #023535;
}

/** Aspectos do Rodapé */
footer {
    background-color: #008F8C;
    color: white;
}

footer h3 {
    text-align: center;
    padding-bottom: 0.5em;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: rgba(255, 255, 255, 0.7);
}

footer ul {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

footer li {
    list-style-type: none;
    display: inline-block;
    list-style-type: none;

    /* Formato Quadrado */
    border: solid 2px white;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    flex-basis: 100px;
    text-align: center;
    
}

footer h3 {
    padding-top: 0.5em;
}

#copyright p{
   font-size: 14px;
   padding-top:1rem;
   margin: 0px;
    padding-bottom: 1em;
    padding-left: 1em;
}

.mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    #menu {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
        text-align: center;
    }

    #menu li {
        border: solid 2px white;
        flex-basis: 1.2rem;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    nav h3 {
        font-size: 1.4rem;
    }

    #menu li {
        margin-top: 0.3rem;
    }
}

@media screen and (max-width: 648px) {
    footer ul {
        flex-direction: column;
    }

    footer ul li {
        flex-basis: 1.2rem;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}

@media print {
    html {
        font-family: 'Times New Roman', Times, serif
    }
    
    h1, h2, h3 { 
        font-family: Georgia, serif;
    }
    
    header {
        color: #023535;
        background-color: white;
    }

    header a {
        color: #023535;
        background-color: white;
    }

    footer {
        color: #023535;
        background-color: white;  
    }

    footer li {
        border: solid 2px #023535;
    }

    footer a {
        color: #023535;
        background-color: white;
    }
}
